{% load static %}
{% block body %}
{% include 'navigation.html' %}
<link rel="stylesheet" href="{% static 'login.css' %}">

<head>
    
    
    <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
    

        
          <div class="container" method="post">
            {% csrf_token %}
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
        
            <button type="submit">Login</button>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <span class="psw"> <a href="#">Forgot password?</a></span>
          </div>
        
          
            
            
          </div>
        </form>
        
          </div>
        
            
       </div>
    
    </body>

{% endblock %}

