.block{
   
    height: 496px;
    width: 1052px;
    margin-right: 40px;
    left: 426px;
    background-color: #fff;
    position: relative;
    top: 61px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.block h1{
font-family: 'Poppins';
font-size: 25px;
position: relative;
left: 20px;
top: 45px;
font-weight: 200;
}

.applicant-box{
border: 1px solid #ccc;
height: 130px;
width: 977px;
position: relative;
top: 100px;
left: 34px;
border-radius: 5px;
margin-bottom: 30px;
}
.inner-box{
padding: 30px 30px;
}

.applicant-name{
font-family: 'Montserrat';
font-size: 18px;
color: #373737;
float: left;
display: block;    position: relative;
left: 70px;
}
.applicant-job-type{
color: #0446e5;
font-family: 'Montserrat';
font-size: 15px;
float: left;
position: relative;
display: block;
top: 12px;
left: 70px
}
.applied-date{
font-family: 'Montserrat';
font-size: 12px;
color: #868686;
float: left;
top: 41px;
left: -161px;
position: relative;
}
.clickoption1{
height: 40px;
width: 40px;
background-color: #0447e522;
padding: 8px 9px;
float: right;

top: -52px;
margin: 12px;
border-radius: 5px;
position: relative;
}
.job-status1{
height: 22px;
width: 90px;
background-color: #008a29;
color: #373737;
font-size: 15px;
border-radius: 5px;
position: relative;
left: 110px;
}
.job-status2{
height: 22px;
width: 90px;
background-color: #008a29;
color: #373737;
font-size: 15px;
border-radius: 5px;
position: relative;
left: 187px;
}

.status{
font-size: 10px;
font-family: 'Montserrat';
top: -17px;
left: 24px;
position: relative;
color: #fff;

}
.clickoption1 img{
height: 25px;
width: 25px;
}
.clickoption2{
height: 40px;
width: 40px;
background-color: #0447e522;
padding: 11px 10px;
float: right;

top: -52px;
margin: 12px;
border-radius: 5px;
position: relative;

}
.clickoption2 img{
height: 20px;
width: 20px;
}
.clickoption3{
height: 40px;
width: 40px;
background-color: #0447e522;
padding: 11px 10px;
float: right;

top: -52px;
margin: 12px;
border-radius: 5px;
position: relative;

}
.clickoption3 img{
height: 18px;
width: 18px;
}
.clickoption4{
height: 40px;
width: 40px;
background-color: #0447e522;
padding: 11px 10px;
float: right;

top: -52px;
margin: 12px;
border-radius: 5px;
position: relative;

}
.clickoption4 img{
height: 20px;
width: 20px;
}
.clickoption5{
height: 40px;
width: 40px;
background-color: #0447e522;
padding: 11px 10px;
float: right;

top: -52px;
margin: 12px;
border-radius: 5px;
position: relative;

}
.clickoption5 img{
height: 20px;
width: 20px;
}
.userphoto{
    height: 66px;
    width: 65px;
    position: absolute;
    top: 32px;
    left: 30px;
    border-radius: 50%;
}
form.nosubmit {
   
    padding: 2px 11px;
    width: 30%;
    margin-top: 21px;
    left: 25px;
    position: absolute;
    margin-bottom: 40px;
    background-color: #f5f7fc;

   }
   
   input.nosubmit {
     
     width: 100%;
     padding: 9px 4px 9px 40px;
      background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
   }

.select-heading{
    float: right;
    font-family: 'Montserrat';
    font-size: 15px;
    position: relative;
    left: 621px;
    top: 36px;
}
#sortby{
    height: 50px;
    width: 300px;
    text-decoration: none;
    border: none;
    background-color: #f5f7fc;
    position: absolute;
    left: 697px;
    padding: 10px 10px;
    border-radius: 5px;
    top: 18px;
    color: rgb(134, 133, 133);
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    position: relative;
    top: 100px;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 10px;
  }
  