
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&display=swap');

*{
    font-family: 'Gentium Plus', serif; user-select: none;
    padding: 0; margin: 0; box-sizing: border-box;
}
body{
    min-height: 100vh; width: 100%;
    display: flex;
    align-items: center; justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.364), rgba(0, 0, 0, 0.271)) ,url('./images/loginbg.jpg') no-repeat center center;
	background-size: cover;
}
.content{
    width: 90%; height: 600px;
    display: flex;
    align-items: center; justify-content: center;
}
.container{
    width: 480px;
    min-height: 474px;
    background-color: white;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.01);
    display: flex; flex-direction: column;
    align-items: center; justify-content: space-between;
}
.nav, .btn{
    height: 55px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px;
}
.btn{
    background-color: #0466e573;
    transition: 0.2s linear; font-size: 15px;
    font-weight: 700; color: black;
    border-radius: 0px;
}
#signUp{
    display: none;
    flex-direction: column;
    transition: 0.2s linear;
    position: absolute;
}
.btn1{
    background-color: white;
}
#login{
    display: flex;
    flex-direction: column;
    transition: 0.2s linear;
    position: absolute;
}
.main{
    height: 381px; width: 100%;
    display: flex; align-items: center; justify-content: space-evenly;
}
.loginClass, .signupClass{
    width: 350px;
    display: flex; align-items: center; justify-content: center;
}
input[type="text"], input[type="password"], input[type="email"]{
    width: 333px;
    height: 50px;
    /* border-bottom: 2px solid #cdb4db; */
    border: none;
    border: 1px solid #ccc;
    /* border-bottom: 2px solid #cdb4db; */
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 10px;
    top: -20px;
    position: relative;
}
input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder{
    color: #373737;
}
button{
    background-color: #0466e573;
    width: 212px;
    border: none;
    outline: none;
    cursor: pointer;
    height: 51px;
    color: black;
    font-weight: 700;
    font-size: 15px;
    position: relative;
    top: -20px;
    border-radius: 10px
}
.signBtn{
    margin-top: 10px;
}
.enquire{
    display: flex; width: 300px;
    justify-content: space-between; align-items: center;
}
a{
    color: black;
    text-decoration: none;
}