



body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
background: #00afec;;
    background-size: cover;
}
.btn-primary {
    background-color: #3b71ca;
    color: #fff;
    top: -50px;
    box-shadow: 0 4px 9px -4px #3b71ca;
    position: relative;
}
.card {
    border: 0;
    /* box-shadow: 0 2px 15px -3px rgb(0 0 0 / 7%), 0 10px 20px -2px rgb(0 0 0 / 4%); */
}
.work {
    height: 572px;
    width: 891px;
    position: relative;
    left: 45px;
    top: 10px;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    .fixed-top {
        top: 23px;
        position: relative;
    }
    .navbar{
        background-color: #fff;
       height: 100px;
   
        position: fixed !important;
    
        color: #373737;
    }
    .navbar {
        /* box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%); */
        padding-top: 0.5625rem;
    }
    .dropdown-item{
        padding: 1rem 1rem;
    }
    .nav-link:link,
    .nav-link:visited{
         font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    padding: 20px;
    color: #373737;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
        
    } 
    .nav-link:hover,
    .nav-link:active{
        color: #373737;
        border-bottom: 2px solid #0466E5;
    }
    .navbar{
       
    
        color: #373737;
    }
    .navbar.fixedbar{
        background-color: #fff;
       height: 100px;
        
        position: fixed !important;
    
        color: #373737;
    }
    .contains{width: 80%;
        left: -142px;
        position: relative;
    }
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
        position: relative;
        top: -319px;
        left: -742px;
        color: #fff;
    }